body {
  background-color: #7f5a83;
  color: rgb(24, 24, 24);
  background-image: linear-gradient(90deg, #7f5a83 0%, #0d484d 74%);
  font-family: "Syne Mono", sans-serif;
}

/* header with navigation and dropdown links */

#navigation {
  padding: 0 20px;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
}

#navigation ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  align-items: center;
  margin: 1rem;
}

#nav-bar-items {
  display: flex;
  justify-items: center;
}

#nav-bar-items li {
  /* padding: 0 12px; */
  margin: 0 12px;
  font-size: 22px;
}

#logo {
  display: flex;
  align-items: center;
  text-align: center;
}

#logo svg {
  padding-right: 5px;
  width: 50px;
}

#logo a {
  text-decoration: none;
  color: inherit;
  font-size: 50px;
}

#nav-bar-items a {
    text-decoration: none;
    color: inherit;
    font-size: inherit;
    padding: 0;
}

/* Dropdowns */

.menu-dropdown {
    float: left;
    overflow: hidden;
}

.dropbtn {
    background-color: inherit;
    color: inherit;
    width: inherit;
    border: none;
    outline: none;
    font-weight: inherit;
    padding: 8px 30px;
    margin: 0;
}


.menu-dropdown:hover .dropbtn{
    cursor: pointer;
    color: rgb(194, 194, 194);
    background-color: rgb(34, 35, 36);
    border-radius: 5px 5px 0 0;
}

.dropdown-items {
    display: none;
    background-color: rgb(34, 35, 36);
    list-style: none;
    position: absolute;
    min-width: 160px;
    border-radius: 0 5px 5px 5px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 2px;
}

.dropdown-items li{
   color:  rgb(194, 194, 194);
}

.menu-dropdown:hover .dropdown-items{
    display: block;
}

/* Icon for mobile devices */

#nav-bar-icon {
  display: none;
}

#nav-bar-icon button {
  display: block;
  background-color: inherit;
  border: none;
  margin: auto auto;
  height: 100%;
}

#nav-bar-icon svg {
  width: 50px;
}

@media (max-width: 850px) {
  #nav-bar-items {
    display: none;
  }
  #nav-bar-icon {
    display: block;
  }
}

/* Carousel settings */

.carousel {
    font-family: 'Roboto', sans-serif;
  width: 100%;
}

.carousel img {
  height: 500px;
  object-fit: cover;
}

/* Section 'what do we have to offer' */

#offer-section {
    margin-top: 20px;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: bold;
}
